#canvas {
	display: block;
	margin: 3%;
	background: url(stars-in-space-backgrounds-wallpapers.jpg);
}

body {
	font-family: 'Ubuntu', sans-serif;
  background-color: white;
	background: #517fa4; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #517fa4 , #243949); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #517fa4 , #243949); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	font-weight: 800;
	font-size: 72px;
	color: white;
	text-align: center;
	margin-bottom: 0;
	margin-left: 13%;
	text-shadow: 3px 3px black;
}

maincontent {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.box {
	padding: 0px;
	margin: 0 0 10px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: solid 0px #000;
	background: url(http://www.css3maker.com/images/box_bg.png) repeat;
	-moz-box-shadow: 0px 1px 5px #000;
	-webkit-box-shadow: 0px 1px 5px #000;
	box-shadow: 0px 1px 5px #1c1c1c;
}

h2 {
	font-size: 18px;
  font-weight: normal;
  background: url(http://www.css3maker.com/images/box_bg2.png) repeat;
  padding: 5px 10px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-radius: 5px;
}

.directions-container {
	display: flex;
  flex-direction: column;
  position: relative;
	border-radius: 5px;
  margin: 110% 0;
}

.directions {
	color: lightgrey;
	padding: 7px;
}

.directions-h {
	width: 100%;
	color: lightgrey;
	padding: 3px;
	margin: -11% -3%;
	position: static;
}
